<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/checkbox.css">
    <link rel="stylesheet" href="./assets/css/index.css">

    <link rel="shortcut icon" href="./assets/img/vcf-1.svg" type="image/x-icon">

    <title>Excel To VCF</title>

</head>

<body>
    <header>
        <img id="xlsxico" src="./assets/img/excel-62.svg" alt="" width="50px" height="50px">
        <img id="arrow" src="./assets/img/arrow-30.svg" alt="" width="50px" height="50px"
            style="transform: rotate(-90deg);">
        <img id="vcfico" src="./assets/img/vcf-1.svg" alt="" width="50px" height="50px">
    </header>
    <hr />

    <a id="downsample" href="/downloadsample"><img src="./assets/img/xlsx_download.webp"  width="25px" alt=""></a>

    <div class="title">
        <h2>Excel to VCF Converter</h2>
    </div>

    <div class="card">

        <div class="format">
            <div class="format-item"> <img src="./assets/img/xlsx-11.svg" alt="" width="35px"></div>
            <div class="divide"></div>
            <div class="format-item"> <img src="./assets/img/xls-22.svg" alt="" width="35px"></div>
            <div class="divide"></div>
            <div class="format-item"> <img src="./assets/img/csv-13.svg" alt="" width="35px"></div>

        </div>
        <div class="file">
            <form id="uf" action="/" method="post" enctype="multipart/form-data">
                <label for="xlsx-file" class="sfbtn">
                    <img src="./assets/img/upload_file.svg" alt="" width="25px">
                    Choose File
                </label>

                <input type="file" name="xlsx-file" id="xlsx-file" hidden
                    accept=".csv,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    onchange="document.form.submit()">

                <!-- <button type="submit">upload</button> -->
                <div id="fileInfo"></div>
            </form>
        </div>

    </div>


    


<% if (!locals.data) { %>
 
    <div class="section-desc">
        <p >Easily convert your Excel contacts to VCF (vCard) format, you can import, and share list of contacts in just one click!<br> The VCF file format is compatible with both Android and iOS.</p>
  
        <!-- <p >How to Use</p> -->
         <br>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/5Q1xCieLIfw?si=SSK1qQmTemfdDslx" title="How to use Excel to VCF converter" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

<% } %>

<%- include('modifyContact') %>

        <footer>
            <p>Engineered by Umendra Pardhi</p>
        </footer>

        <script>
            const fileInput = document.getElementById('xlsx-file');
            const fileInfo = document.getElementById('fileInfo');
            const form = document.getElementById('uf');

            fileInput.addEventListener('change', (event) => {

                const file = event.target.files[0];
                const formData = new FormData(form);

                if (file) {
                    form.submit();
                }

            })
        </script>
</body>

</html>